* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --test_body_background: #111112;
    --background_1: #111112;
    --background_2: #0F0F10;
    --card_background: #131314;

    --text-color1: #fefefe;
    --nav-text-color: #EFEFEF;

    --btn-gradient-background: linear-gradient(42deg, rgba(255, 149, 50, 1) 0%, rgba(255, 90, 36, 1) 100%);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--test_body_background);
}

main {
    flex: 1 0 auto;
}

a {
    user-select: none;
    text-decoration: none;
    color: unset;
}

input {
    border: none;
}


